<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.directional.base.mapper.CommonConfigMapper" >
  <resultMap id="BaseResultMap" type="com.directional.base.entity.CommonConfig" >
    <id column="config_name" property="configName" jdbcType="VARCHAR" />
    <result column="config_content" property="configContent" jdbcType="VARCHAR" />
    <result column="config_extra_content" property="configExtraContent" jdbcType="VARCHAR" />
    <result column="config_desc" property="configDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    config_name, config_content, config_extra_content, config_desc, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from common_config
    where config_name = #{configName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from common_config
    where config_name = #{configName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.directional.base.entity.CommonConfig" >
    insert into common_config (config_name, config_content, config_extra_content, 
      config_desc, create_time)
    values (#{configName,jdbcType=VARCHAR}, #{configContent,jdbcType=VARCHAR}, #{configExtraContent,jdbcType=VARCHAR}, 
      #{configDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.directional.base.entity.CommonConfig" >
    insert into common_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      config_name,
      config_content,
      config_extra_content,
      config_desc,
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{configName,jdbcType=VARCHAR},
      #{configContent,jdbcType=VARCHAR},
      #{configExtraContent,jdbcType=VARCHAR},
      #{configDesc,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.directional.base.entity.CommonConfig" >
    update common_config
    <set >
      <if test="configContent != null" >
        config_content = #{configContent,jdbcType=VARCHAR},
      </if>
      <if test="configExtraContent != null" >
        config_extra_content = #{configExtraContent,jdbcType=VARCHAR},
      </if>
      <if test="configDesc != null" >
        config_desc = #{configDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where config_name = #{configName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.directional.base.entity.CommonConfig" >
    update common_config
    set config_content = #{configContent,jdbcType=VARCHAR},
      config_extra_content = #{configExtraContent,jdbcType=VARCHAR},
      config_desc = #{configDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where config_name = #{configName,jdbcType=VARCHAR}
  </update>
</mapper>