<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.directional.base.mapper.UserInfoFlowLogMapper" >
  <resultMap id="BaseResultMap" type="com.directional.base.entity.UserInfoFlowLog" >
    <id column="user_info_flow_log_id" property="userInfoFlowLogId" jdbcType="BIGINT" />
    <result column="order_info_id" property="orderInfoId" jdbcType="VARCHAR" />
    <result column="channel_product_code_id" property="channelProductCodeId" jdbcType="BIGINT" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="used_flow" property="usedFlow" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_info_flow_log_id, order_info_id, channel_product_code_id, user_mobile, used_flow, 
    create_time, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info_flow_log
    where user_info_flow_log_id = #{userInfoFlowLogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info_flow_log
    where user_info_flow_log_id = #{userInfoFlowLogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.directional.base.entity.UserInfoFlowLog" useGeneratedKeys="true" keyProperty="userInfoFlowLogId" >
    insert into user_info_flow_log (order_info_id, channel_product_code_id, 
      user_mobile, used_flow, create_time, 
      start_time, end_time)
    values (#{orderInfoId,jdbcType=VARCHAR}, #{channelProductCodeId,jdbcType=BIGINT}, 
      #{userMobile,jdbcType=VARCHAR}, #{usedFlow,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.directional.base.entity.UserInfoFlowLog" useGeneratedKeys="true" keyProperty="userInfoFlowLogId" >
    insert into user_info_flow_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      order_info_id,
      channel_product_code_id,
      user_mobile,
      used_flow,
      create_time,
      start_time,
      end_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{orderInfoId,jdbcType=VARCHAR},
      #{channelProductCodeId,jdbcType=BIGINT},
      #{userMobile,jdbcType=VARCHAR},
      #{usedFlow,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP},
      #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.directional.base.entity.UserInfoFlowLog" >
    update user_info_flow_log
    <set >
      <if test="orderInfoId != null" >
        order_info_id = #{orderInfoId,jdbcType=VARCHAR},
      </if>
      <if test="channelProductCodeId != null" >
        channel_product_code_id = #{channelProductCodeId,jdbcType=BIGINT},
      </if>
      <if test="userMobile != null" >
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="usedFlow != null" >
        used_flow = #{usedFlow,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_info_flow_log_id = #{userInfoFlowLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.directional.base.entity.UserInfoFlowLog" >
    update user_info_flow_log
    set order_info_id = #{orderInfoId,jdbcType=VARCHAR},
      channel_product_code_id = #{channelProductCodeId,jdbcType=BIGINT},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      used_flow = #{usedFlow,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where user_info_flow_log_id = #{userInfoFlowLogId,jdbcType=BIGINT}
  </update>
</mapper>